.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cyclesDots {
  display: flex;
  gap: 0.8rem;
}

.cyclesDot {
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 50%;
}

.workTime {
  background: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
